.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-line{
  height: 45px;
  width: 1px;
  transform: rotate(180deg);
  background-color: #000;
  transform: translate(-0.06rem);
}


.long-arrow-left{
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 13px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
.long-arrow-left{
  transform: rotate(-135deg);
 }

 .long-arrow-left::after{
   content: "";
   display: block;
   width: 1px;
   height: 45px;
   background-color: black;
   transform: rotate(135deg) translate(-1rem, -5px);
   left: 0;
   top: 0;
 }


.card-layout{
  min-height: 12rem;
  width: 15rem;
  padding: 1.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 5px solid #653780
}

.spacing-lg{
  padding: 3.25rem 5rem
}

.size-img{
  height: 4rem !important;
  width: 4rem !important;

}
.intro-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.intro-div-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2rem;
}
.designation-div{
  display: flex;
  gap:5px;
}
.designation-div.margin{
  margin-top: 0.5rem;
}
.role{
  background: #d6b4fc7e;
  font-size: 0.7rem;
  padding: 0.2rem;
  font-weight: bold;
  width: 3rem;
  text-align: center;
  border-radius: 5px
}

.designation{
  color: #7f8fda;
}

.fixed-width{
 
}